* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  position: relative;
}
.app-bar-mini {
  position: static !important;
}
.app-bar {
  position: sticky !important;
}
.toolbar-mini {
  background-color: #181818;
  min-height: 36px !important;
  position: static !important;
}

.topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  svg {
    height: 20px;
    width: 20px;
  }
  .info {
    color: #fff;
    svg {
      color: #ffcc4a;
    }
  }

  .social-icon {
    svg {
      margin: 0px 5px;
      color: #fff;
      &:hover {
        color: #ffcc4a;
      }
    }
  }
}

.toolbar-navigation {
  background-color: #1b1b1bde;
  min-height: 90px !important;
}

.navlinkcontainer {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  .navlinks {
    padding: 15px;
    margin: 0px 5px;
    &:hover {
      color: #4eaf4e;
    }
  }
}

.phone-container {
  background-color: #fff;
  color: #181818;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 50px;
  .phone-circle {
    background-color: #ffcc4a;
  }
}

.set-height {
  width: 100%;
  position: relative;
}
.cursor-pointer {
  cursor: pointer;
}

.drawer-toggle {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
